.emph-header {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: azure;
    font-size: small;
}

.no-emph-header {
    font-family: 'Nunito', sans-serif;
    font-size: small;
    color: azure;
    font-weight: 600;
}

.icon {
    color: azure !important;
    padding-left: 6px;
    padding-right: 6px;
}

.header-container {
    background-image: linear-gradient(to right, #074309, #347f3d);
}

.header-spacer {
    background-image: linear-gradient(to right, #074309, #347f3d);
    height: 0.65em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
    .header-row {
        padding-left: 3em;
        padding-right: 3em;
    }
} 

a, a:hover {
    text-decoration: none !important;
    color: white;
}