.big-seperator {
    margin-top: 3rem;
    height: 3rem;
}

.seperator {
    background: linear-gradient(to right, #074309, #347f3d);
}

@media only screen and (max-width: 1199px) {
    .service-img-about {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .service-img-about {
        max-width: 100%;
    }
}

.img-container {
    margin: 0;
    padding: 0;
}

.about-header {
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

.ul-about {
    border: 0;
    background: linear-gradient(to right, #074309, #347f3d);
    height: 5px;
    max-width: 30%;
    margin: 0.75rem auto 0.75rem auto;
}

@media only screen and (max-width: 1199px) {
    .txt-about, .img-about {
        max-width: 700px;
        padding-bottom: 15px;
    }

    .section-seperator {
        max-width: 80%;
        margin: 1rem auto 0.75rem auto;
    }
}

@media only screen and (min-width: 1200px) {
    .txt-about, .img-about {
        max-width: 750px;
        padding-top: 20px;
    }

    .section-seperator {
        max-width: 65%;
        margin: 1rem auto 0.75rem auto;
    }
}