.contact-wrapper, .form-wrapper {
    padding: 0;
    margin: 0;
}

.contact-list-container {
    width: 100%;
    min-width: 360px;
    margin: 2em 0 2em 0;
}

.contact-ul {
    padding-left: 0;
    height: 100%;
}

.ct {
    color: #1b1b1b;
}
/*
.sep-v {
    border: 1px solid red;
    max-height: 10em;
    height: 5em;
    margin: auto 4em auto;
}

.cu-image {
    color: azure;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
*/

.visibility {
    visibility: hidden;
}

.c-icon {
    margin-left: 0.3em;
    margin-right: 0.4em;
}

.contact-li {
    margin: 0.2em auto 0 auto;
    display: flex;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    max-width: 360px;
}

.d-header {
    text-transform: uppercase;

}

.contact-buttons {
    text-align: left;
    margin-top: 0.6em;
}

.btn {
    flex: 1 1 auto;
    padding: 7px 8px 7px 8px;
    margin: 0 0.2em 0 0.3em;
    font-size: small;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn:hover {
    background-position: right center;
    color: white !important;
}

.btn-color, .submit-btn-color {
    background-image: linear-gradient(to right, #074309 0%, #347f3d 51%, #074309 100%);
}

.contact-form {
    width: 45em;
    max-width: 100%;
}

@media only screen and (min-width: 1200px) {
    .contact-seperator {
        background-image: url("../../../assets/Mossel-Bay-Peninsula-lg.jpg");
        background-size: cover;
        height: 23em;
        margin: 5em 0 3em 0;
    }
}

@media only screen and (max-width: 1199px) {
    .contact-seperator {
        background-image: url("../../../assets/Mossel-Bay-Peninsula-lg.jpg");
        background-size: cover;
        height: 18em;
        margin: 5em 0 3em 0;
    }
}

@media only screen and (max-width: 1199px) {
    .map-container {
        height: 25em;
    }

    .map-container {
        max-width: 360px;
        width: 100%;
    }

    .image-container {
        max-width: 360px;
        width: 100%;
        max-height: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .map-container, .image-container {
        width: 25em;
        height: 25em;
    }
}