.contact-wrapper, .form-wrapper {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1199px) {
    .contact-list-container {
        width: 100%;
        min-width: 340px;
        margin: 2em 0 2em 0;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-list-container {
        width: 100%;
        min-width: 340px;
        margin-bottom: 2em;
    }
}

.contact-ul {
    padding-left: 0;
    height: 100%;
}

.ct {
    color: #1b1b1b;
}

@media only screen and (max-width: 577px) {
    .cu-image-border {
        height: 7.5em !important;
    }
}

.cu-image-border {
    border: 1px solid #347f3d;
    border-radius: 3px;
    height: 4.8em;
    margin: auto 0em auto 4em;
}

.cu-image-container {
    padding-left: 9px;
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.cu-image-text-small {
    color: azure;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.cu-image-text-large {
    color: azure;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-top: -0.25em;
    display: block;
}

.visibility {
    visibility: hidden;
}

.c-icon {
    margin-left: 0.3em;
    margin-right: 0.4em;
}

.contact-li {
    margin: 0.2em auto 0 auto;
    display: flex;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    max-width: 360px;
}

.d-header {
    text-transform: uppercase;

}

.contact-buttons {
    text-align: left;
    margin-top: 0.6em;
}

.btn {
    flex: 1 1 auto;
    padding: 7px 8px 7px 8px;
    margin: 0 0.2em 0 0.3em;
    font-size: small;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    width: 10em !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.btn:hover {
    background-position: right center;
    color: white !important;
}

.btn-color, .submit-btn-color {
    background-image: linear-gradient(to right, #074309 0%, #347f3d 51%, #074309 100%);
}

.submit-button {
    border: none;
}

.contact-form {
    width: 45em;
    max-width: 100%;
}

@media only screen and (min-width: 1200px) {
    .contact-seperator {
        background-image: url("../../../assets/Mossel-Bay-Peninsula-lg.jpg");
        background-size: cover;
        height: 23em;
        margin: 5em 0 3em 0;
    }
}

@media only screen and (max-width: 1199px) {
    .contact-seperator {
        background-image: url("../../../assets/Mossel-Bay-Peninsula-lg.jpg");
        background-size: cover;
        height: 18em;
        margin: 5em 0 3em 0;
    }
}

.map-container {
    height: 25em;
}

.map-container {
    max-width: 360px;
    max-height: 333px;
    width: 100%;
}

.image-container {
    max-width: 360px;
    max-height: 333px;
    width: 360px;
    height: 100%;
}

