.service-img {
    padding: 0.5em;
}

.text-border {
    border: 2px solid orange;
}

.seperator-md {
    padding: 0.4em;
}

.vr {
    border: 1px solid green;
}

.service-display-card {
    max-width: 30rem;
    padding: auto;
}

.bg-div, .bg-row {
    padding-left: 0;
    padding-right: 0;
}

.service-text-block {
    max-height: 75%;
}

.landing-page-container {
    margin: 0;
}

.landing-page {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}