.service-img {
    padding: 0.5em;
    margin-bottom: 1.5rem;
    max-width: 100%;
}

@media only screen and (max-width: 576px) {
    .col-seperator {
        width: 75%;
        margin: 0 auto 2em auto;
    }
}

@media only screen and (min-width: 577px) and (max-width: 1399px) {
    .service-img {
        max-width: 400px;
    }

    .col-seperator {
        max-width: 500px;
        width: 75%;
        margin: 0 auto 1em auto;
    }
}

@media only screen and (min-width: 1400px) {
    .service-img {
        max-width: 350px;
    }
}

.service-text-block {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.seperator-md {
    padding: 0.4em;
}

.bg-div, .bg-row {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 768px) {
    .services-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

.service-text-block {
    max-height: fit-content;
    max-width: 75%;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: small;
}

.service-name {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #1f1f1f;
}

@media only screen and (max-width: 1399px) {
    .service-description {
        max-width: 360px;
    }
}

.landing-page-container {
    margin: 0;
}

.landing-page {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.mobile-landing-page {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 0 2em 0;
    display: block;
}

.fade-in-section {
    opacity: 0;
    transform: translate(0, 50%);
    visibility: hidden;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    display: flex; 
}

.hr-home {
    border: 0;
    background: linear-gradient(to right, #074309, #347f3d);
    height: 5px;
    max-width: 35%;
    margin: 0.75rem auto 0.75rem auto;
}

.no-emph-home, .text-container {
    font-family: 'Nunito', sans-serif;
    color: #1f1f1f;
    font-weight: 600;
}

.no-emph-home {
    position: relative;
    margin-left: 16px;
    display: inline-block;
}

.home-ul {
    margin-top: 0.5em;
    padding-left: 0;
}

.home-list-item {
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}

ul {
    list-style: none;
}

.l1 {
    margin-left: 0;
    padding-left: 0;
}

.l2 {
    margin-left: 10%;
    display: flex;    
}

.l3 {
    position: absolute;
    margin-left: 0;
    padding-left: 0;
}

.border-2 {
    margin: auto 0 auto 0
}