.projects-container {
    max-width: 1000px;
}

.desc-projects {
    max-width: 500px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.project-name {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1c1c1c;
}

.projects-intro-col {
    justify-content: center;
    margin: 2em auto 0 auto;
}

.hr-projects-small {
    max-width: 75%;
    margin: 1em auto 2em auto;
}

.hr-projects {
    border: 0;
    background: linear-gradient(to right, #074309, #347f3d);
    height: 5px;
    max-width: 15%;
    margin: 0.5em auto 0.75em auto;
}

.projects-header {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-align: center;
}

.projects-ul {
    border: 0;
    background: linear-gradient(to right, #074309, #347f3d);
    height: 5px;
    max-width: 65%;
    margin: 0.25rem auto 0.75rem auto;
}

.project-image-container {
    position: relative;
}

.project-image {
    background-image: url("../../../assets/EroConsulting.png");
    background-size: cover;
    height: 180px;
}

.project-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}